.page{
    position: absolute;
    background-color: red;
}
.ButtonStyle{
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* background-color: #FFAA6A; */
    background: linear-gradient(135deg, #FFD600 0%, #FFA673 100%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.OverlayStyle{
    top:0;
    left:0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FFAA6A;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.ModalStyle{
    position: fixed;
    /* background-color: #FFAA6A; */
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.FormStyle{
    top:10vh;
    left:10vw;
     position: fixed;
     /* background-color: #FFAA6A; */
     background: lightgrey;
     width: 80vw;
     height: 40vh;
     border-radius: 50px;
     border: none;
     color: gray;
     font-size: 20px;
     text-align: center;
     align-items: center;
 }
.FormSubmit{
    position: fixed;
    top:3vh;
    right:7vw;
    /* background-color: #FFAA6A; */
    background:linear-gradient(135deg, #FFD600 0%, #FFA673 100%);
    width: 20vw;
    height: 5vh;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.FormClose{
    position: fixed;
    top:3vh;
    left:7vw;
    /* background-color: #FFAA6A; */
    /*background:linear-gradient(135deg, #FFD600 0%, #FFA673 100%);*/
    width: 20vw;
    height: 5vh;
    border-radius: 50px;
    border: none;
    color:#FFAA6A ;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.PointIcon{
    position: absolute;
    top:3vh;
    left:6vw;
    width:20px;
    height:30px;
}
.InputStyle{
    position:relative;
    margin:3vh 0 3vw 0;
    width:70%;
    height:20%;
    text-align: center;
    border:none;
}
.ChoiceStyle{
    position:relative;
    margin-left:11.5vw;
    width:100%;
    height:50%;
    text-align: center;
    border:none;
}
.PreviewStyle{
    position:fixed;
    top:55vh;
    left:9vw;
    width:80%;
    text-align: center;
    border:none;
}