.page{
    position: absolute;
    background-color: red;
}
.ButtonStyle{
    background-color: aqua;
}
.OverlayStyle{
    background-color: cornflowerblue;
}
.ModalStyle{
    background-color: darkgoldenrod;
}